<h4>Ratings</h4>
<blockquote class="blockquote" ng-repeat="review in product.reviews">
    <b>Stars: {{ review.stars }}</b>
    {{review.body}}
    <cite>by: {{review.author }}</cite>
</blockquote>
<form name="submitReview" ng-controller="ReviewController as reviewCtrl" 
ng-submit="submitReview.$valid && reviewCtrl.addReview(product)" novalidate>
    <blockquote class="blockquote">
        <b>Stars: {{ reviewCtrl.review.stars }}</b>
        {{reviewCtrl.review.body}}
        <cite>by: {{reviewCtrl.review.author }}</cite>
    </blockquote>
    <fieldset>
        <div class="form-group">
            <select class="form-control" required ng-model="reviewCtrl.review.stars" ng-options="stars for stars in [5,4,3,2,1]"  title="Stars">
                <option value="">Rate the Product</option>
            </select>
        </div>
        <div class="form-group">
            <textarea ng-model="reviewCtrl.review.body" class="form-control" required></textarea>
        </div>
        <div class="form-group">
            <label>by: </label>
            <input ng-model="reviewCtrl.review.author" type="email" class="form-control" required/>
        </div>
        {{submitReview.$valid}}
        <input type="submit" value="Submit" class="btn btn-primary" />                                        
    </fieldset>
</form>