<ul class="nav nav-pills">
    <li class="nav-item"><a class="nav-link" ng-class="{active: panel.isSelected(1)}" href ng-click="panel.selectTab(1)">Description</a></li>
    <li class="nav-item"><a class="nav-link" ng-class="{active: panel.isSelected(2)}" href ng-click="panel.selectTab(2)">Specs</a></li>
    <li class="nav-item"><a class="nav-link" href ng-class="{active: panel.isSelected(3)}" ng-click="panel.selectTab(3)">Ratings</a></li>
</ul>

<product-desc class="panel" ng-show="panel.isSelected(1)"></product-desc>

<div product-specs class="panel" ng-show="panel.isSelected(2)"></div>

<product-reviews class="panel" ng-show="panel.isSelected(3)"></product-reviews>